VTUKONNECT_API_TOKEN=your_vtukonnect_token_here
PAYSTACK_PUBLIC_KEY=pk_live_your_key_here
PAYSTACK_SECRET_KEY=sk_live_your_key_here
GMAIL_APP_PASSWORD=your_16_digit_google_app_password
DATABASE_URL="postgresql://username:password@host/dbname"
NEXTAUTH_SECRET=random_secret_string_here
NEXTAUTH_URL=https://exlowg.vercel.app
